#form{
    width: 30%;
    height: 350px;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgb(82, 192, 214);
    background-color: rgb(165, 226, 231);
    padding: 15px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    border-radius: 8px;
   

}
h3{
    font-size: 2rem;
}
#form input{
    height: 20px;
    width: 80%;
}

select{
    height: 20px;
    width: 80%;
    background-color: rgb(228, 200, 253);
    
}
#submit{
    width: 50px;
    background-color: rgb(47, 92, 113);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    
}

#submit:hover{
    background-color:rgb(125, 83, 164) ;
  transition:  background-color 1s ease;
}